/* Styling for the main container */
.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

/* Styling for the cards with complete week buttons and reset buttons */
.card-container {
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 15px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.blue-card {
    background-color: #0ed7f1;
}

.yellow-card {
    background-color: #fae741;
}

/* Styling for Body weight level buttons  */
.main-button {
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.level-colour {
    background-color: #0ed7f1;
    border: none;
    color: white;
}

/* Styling for Weight training level buttons  */
.level-colour-weight {
    background-color: #fae741;
    border: none;
    color: black;
}
