/* Styling for the main container */
.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: #8bf0a3;
   
    
}

/* Styling for the user name label */
.name-label {
    font-size: large;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
    color:rgb(6, 118, 246);
}
.main-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgb(13, 5, 247);
    margin-bottom: 20px;
}



/* Styling for the user name input form */
.name-input-container input[type="text"] {
    padding: 10px 12px;
    border: 2px solid #3498db;
    border-radius: 6px;
}


/* Styling for the cards with complete week buttons and reset buttons */
.card-container {
    justify-content: center;
    border-radius: 25px;
    padding: 20px;
    margin: 20px auto;
    max-width: 300px;
    text-align: center;
}

.blue-card {
    background-color: #0ed7f1;
    border: rgb(6, 118, 246) 2px solid;
    box-shadow: 0 8px 16px rgba(0, 0, 0.4, 0.4);

}

.yellow-card {
    background-color: #fae741;
    border: rgb(110, 94, 2) 2px solid;
    box-shadow: 0 8px 16px rgba(0, 0, 0.4, 0.4);
}



/* Styling for Body weight level buttons  */
.main-button {
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.level-colour {
    background-color: #0ed7f1;
    border: rgb(6, 118, 246) 2px solid;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    color: black;
}



/* Styling for Weight training level buttons  */
.level-colour-weight {
    background-color: #fae741;
    border: rgb(110, 94, 2) 2px solid;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    color: black;
}



/* Styling for weekdays buttons - Body weight and Weight training */
.weekdays-colour {
    background-color: #0ed7f1;
    border: rgb(6, 118, 246) 2px solid;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    color: black;
}

.weekdays-colour-weight {
    background-color: #fae741;
    border: rgb(110, 94, 2) 2px solid;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    color: black;
}



/* Styling for Complete week buttons - Body weight and Weight training */
.complete-week-colour {
    background-color: #1df750;
    border: none;
    color: white;
}

.complete-week-weight-colour {
    background-color: #1df750;
    border: none;
    color: white;
}



/* Styling for Reset schedule buttons - Body weight and Weight training */
.reset-schedule-colour {
    background-color: #f54242;
    border: none;
    color: white;
}

.reset-schedule-weight-colour {
    background-color: #f54242;
    border: none;
    color: white;
}



/* Styling for the placement level buttons container */
.placement-level-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}


/* Styling for the schedule headings */
.schedule-headings {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 10px 0;
    font-weight: bold;
}

.bodyweight-heading {
    color:  rgb(6, 118, 246);
}

.weight-heading {
    color: rgb(245, 213, 33)
}



/* Styling for the output container */
#output {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(11, 11, 11);
    background-color: #0ed7f1;
    padding: 1rem;
}


/* Styling for exercise list */
.exercise-list {
    text-align: center;
    padding-left: 20px;
    margin-top: 10px;
    color: rgb(6, 118, 246);
}
